body
{
    font-family: 'Roboto Mono', monospace;
    background-color: gray;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button
{
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

#main_container
{
    display: block;
    border: 20px solid #222831;
    border-radius: 10px;
    background-color: #31363F;
    height: 600px;
    width: 500px;
}

#output_container
{
    border: 1px solid #EEEEEE;
    background-color: #76ABAE;
    text-align: end;
}

#output
{
    font-size: 2.5em;
}

#content_container
{
    background-color: #31363F;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.linhas
{
    display: flex;
    justify-content: center;
    
}

.itens
{
    background-color: #EEEEEE;
    display: block;
    text-align: center;
    font-size: 4em;
    margin: 2px;
    height: 80px;
    width: 100px;
    border: 1px solid black;
    border-radius: 35px;
}

.numbers
{
    font-size: 50px;
}

#backspace, #X, #plus, #division
{
    font-size: 50px;
}

#linha-5
{
    display: flex;
    padding-left: 205px;
    
}

#igual
{
    display: block;
    text-align: center;
    font-size: 4em;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    background-color: #EEEEEE;
    border-radius: 16px;
    margin-top: 10px;
}